:root {
  --primary-color: #B0CE88;
  --primary-color-rgb: 34, 121, 130;
  --secondary-color: #B0CE88;
  --secondary-color-rgb: 103, 198, 213;
  --tertiary-color: #f4fbfc;
  --tertiary-color-rgb: 244, 251, 252;
}